h1 {
  color: purple;
  font-size: 60px;
}

input[type="password"] {
  width: 100px;
  height: 50px;
}

.special {
  color: teal;
  border: 1px solid teal;
  font-size: 30px;
}

#bear-photo {
  width: 250px;
}